.chatlistitem {
   display: flex;
   align-items: center;
   cursor: pointer;
   height: 70px;
}

.chatlistitem :hover {
   background-color: #f5f5f5;
}

.chatlistitem.active {
   background-color: #ebebeb;
}

.chatlist-avatar {
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin-left: 15px;
}

.chatlistitem-lines {
   height: 100%;
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   border-bottom: 2px solid #eee;
   padding-right: 15px;
   margin-left: 15px;
   /* fix the wrap on msg */
   flex-wrap: wrap;
   min-width: 0;
}

.chatlistitem-line {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.chatlistitem-name {
   font-size: 17px;
   color: #000000;
}

.chatlistitem-date {
   font-size: 12px;
   color: #999;
}

.chatlistitem-lastMsg {
   font-size: 14px;
   color: #999;
   display: flex;
   width: 100%;
}

.chatlistitem-lastMsg p {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   margin: 0;
}
